In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Leningradskiy,RU,2021-04-04 04:53:47,69.3833,178.4167,-0.17,94,100,7.31,overcast clouds
1,1,Puerto Ayora,EC,2021-04-04 04:53:47,-0.7393,-90.3518,75.99,95,68,1.99,broken clouds
2,2,Goderich,CA,2021-04-04 04:53:47,43.7501,-81.7165,41.00,56,3,6.91,clear sky
3,3,Bokovskaya,RU,2021-04-04 04:53:48,49.2290,41.8306,38.93,70,89,8.66,overcast clouds
4,4,Punta Arenas,CL,2021-04-04 04:53:35,-53.1500,-70.9167,39.20,70,0,11.50,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Puerto Ayora,EC,2021-04-04 04:53:47,-0.7393,-90.3518,75.99,95,68,1.99,broken clouds
6,6,Victoria,HK,2021-04-04 04:52:53,22.2855,114.1577,80.01,85,29,1.01,scattered clouds
8,8,Dubbo,AU,2021-04-04 04:53:49,-32.2500,148.6167,80.60,41,40,4.61,scattered clouds
14,14,Hervey Bay,AU,2021-04-04 04:53:50,-25.2986,152.8535,72.00,95,100,5.99,light rain
21,21,Rikitea,PF,2021-04-04 04:53:52,-23.1203,-134.9692,78.06,57,22,21.61,few clouds
28,28,Busselton,AU,2021-04-04 04:53:54,-33.6500,115.3333,79.88,46,97,17.38,overcast clouds
30,30,Japura,ID,2021-04-04 04:53:54,-0.3167,102.3500,86.83,60,100,5.46,overcast clouds
37,37,Vaini,TO,2021-04-04 04:53:56,-21.2000,-175.2000,77.00,88,75,4.61,broken clouds
43,43,Port Lincoln,AU,2021-04-04 04:53:57,-34.7333,135.8667,73.29,63,4,13.09,clear sky
44,44,Hasaki,JP,2021-04-04 04:44:54,35.7333,140.8333,72.00,56,75,16.11,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        225
City           225
Country        225
Date           225
Lat            225
Lng            225
Max Temp       225
Humidity       225
Cloudiness     225
Wind Speed     225
Description    225
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Puerto Ayora,EC,2021-04-04 04:53:47,-0.7393,-90.3518,75.99,95,68,1.99,broken clouds
6,6,Victoria,HK,2021-04-04 04:52:53,22.2855,114.1577,80.01,85,29,1.01,scattered clouds
8,8,Dubbo,AU,2021-04-04 04:53:49,-32.2500,148.6167,80.60,41,40,4.61,scattered clouds
14,14,Hervey Bay,AU,2021-04-04 04:53:50,-25.2986,152.8535,72.00,95,100,5.99,light rain
21,21,Rikitea,PF,2021-04-04 04:53:52,-23.1203,-134.9692,78.06,57,22,21.61,few clouds
...,...,...,...,...,...,...,...,...,...,...,...
694,694,Gorontalo,ID,2021-04-04 04:55:47,0.5412,123.0595,90.99,55,84,5.84,broken clouds
695,695,Malpe,IN,2021-04-04 04:57:02,13.3500,74.7167,86.00,66,20,7.47,few clouds
698,698,Pilar,BR,2021-04-04 04:57:03,-9.5972,-35.9567,75.20,94,75,2.30,broken clouds
699,699,Bandarbeyla,SO,2021-04-04 04:48:23,9.4942,50.8122,80.24,69,99,2.75,overcast clouds
700,700,Raga,SS,2021-04-04 04:57:04,8.4596,25.6780,73.27,23,14,3.53,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,75.99,broken clouds,-0.7393,-90.3518,
6,Victoria,HK,80.01,scattered clouds,22.2855,114.1577,
8,Dubbo,AU,80.60,scattered clouds,-32.2500,148.6167,
14,Hervey Bay,AU,72.00,light rain,-25.2986,152.8535,
21,Rikitea,PF,78.06,few clouds,-23.1203,-134.9692,
28,Busselton,AU,79.88,overcast clouds,-33.6500,115.3333,
30,Japura,ID,86.83,overcast clouds,-0.3167,102.3500,
37,Vaini,TO,77.00,broken clouds,-21.2000,-175.2000,
43,Port Lincoln,AU,73.29,clear sky,-34.7333,135.8667,
44,Hasaki,JP,72.00,broken clouds,35.7333,140.8333,

In [8]:
# 6a. Set parameters to search for hotels within 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"

    # 6e. Make request and retrieve the JSON data from the search.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))